---
{{ properties.crmid }}:
{{ properties.organization }}: {{ customer.name }}
{{ properties.alias }}: 
    - {{ customer.alias }}
{{ properties.address }}: 
{{ properties.taxid }}:
{{ properties.bank }}:
{{ properties.account }}:
{{ properties.website }}:
{{ properties.discount }}: {{ customer.discount }}
{{ properties.contact }}: 
    - {{ customer.contact }}
---
