name: {{ schema.name }}
version: 0.1.0
description: {{ schema.description }}

entities:
  - path: ["{{ schema.entities.settings }}"]
    template: []
  - path: ["{{ schema.entities.settings }}", "{{ schema.entities.tmpl }}"]
    template: []
  - path: ["{{ schema.entities.settings }}", "{{ schema.entities.tmpl }}", "{{ schema.entities.tmpl_meeting_notes }}"]
    template: ["sales_meeting_note.md.j2"]
  - path: ["{{ schema.entities.settings }}", "{{ schema.entities.tmpl }}", "{{ schema.entities.tmpl_customer }}"]
    template: ["sales_customer.md.j2"]
  - path: ["{{ schema.entities.settings }}", "{{ schema.entities.tmpl }}", "{{ schema.entities.tmpl_contact }}"]
    template: ["sales_contact.md.j2"]
  - path: ["{{ schema.entities.settings }}", "{{ schema.entities.tmpl }}", "{{ schema.entities.tmpl_project }}"]
    template: ["sales_project.md.j2"]
  - path: ["{{ schema.entities.settings }}", "{{ schema.entities.automation }}"]
    template: []
  - path: ["{{ schema.entities.project }}"]
    template: []
  - path: ["{{ schema.entities.contract }}"]
    template: []
  - path: ["{{ schema.entities.quotation }}"]
    template: []
  - path: ["{{ schema.entities.receipt }}"]
    template: []
  - path: ["{{ schema.entities.invoice }}"]
    template: []
  - path: ["{{ schema.entities.spport }}"]
    template: []
  - path: ["{{ schema.entities.customer }}"]
    template: []
  - path: ["{{ schema.entities.notes }}"]
    template: []
  - path: ["{{ schema.entities.project_board }}"]
    template: ["sales_project_board.base.j2"]
  - path: ["{{ schema.entities.task_list }}"]
    template: ["sales_task_list.md.j2"]
